* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

#list__main {
  border: 1px solid black;
  background-color: blanchedalmond;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

body {
  background-color: aquamarine;
}

.div_main {
  border: 2px double black;
}

.child_div_main {
  border: 0.5px solid red;
  margin: 4px;
  padding: 20px;
}
