* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

.parent {
  margin: 20px;
  border: 1px dotted black;
  display: inline-block;  
}

.box {
  /* display: inline-block; */
  background-color: burlywood;
  width: 100px;
  height: 100px;
  text-align: center;
  padding: 10px;
  font-size: larger;
}

#one {
  background-color: lightcoral;
}

#two {
  background-color: lightblue;
}

#three {
  background-color: lightgreen;
}

#four {
  background-color: lightgoldenrodyellow;
}

.parent #two {
  background-color: aqua;
}

.reto__parent {
  position: relative;
  background-color: aqua;
  width: 100px;
  height: 100px;
  top: 100px;
  margin: 20px;
}

.reto__children {
  width: 50px;
  height: 50px;
  position: absolute;
  background-color: red;
  top: -25%;
  left: 25%;
}
